<%# SEARCH FORM %>
<%= form_for(@forecast) do |f| %>
  
  <% if @forecast.errors.any? %>
    <div id="errorExplanation">
      <h2>Search failed with <%= pluralize(@forecast.errors.count, "error") %>:</h2>
      <ul>
      <% @forecast.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  
  <div class="formtitle">
    <h3>Find Forecast:</h2>
  </div>
  
  <div class="field">
    <%= f.label :location %><br />  
    <%= f.text_field :location %>
  </div>
  
  <div class="field">
    <%= f.label :days, 'Days: 1-5' %><br />  
    <%= f.text_field :days %>
  </div>
  
  <div class="actions">
    <%= f.submit "Show Forecast" %>
  </div>
  
<% end %>

<%# CURRENT WEATHER %>
<% if @data && @data["data"]["current_condition"] %>

  <div class="current">

    <div style="width:auto; height:auto; text-align: center;">
      <h2>Current</h2>

      <table width="100%" class="table" style="margin-left: auto;">
      <tbody>
        <tr>
          <%= image_tag @data["data"]["current_condition"][0]["weatherIconUrl"][0]["value"] %>
        </tr>
        <tr>
          <th>City</th>
          <td><%= @data["data"]["request"][0]["query"] %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= tempvar = @data["data"]["current_condition"][0]["weatherDesc"][0]["value"]
            tempvar += ', with a chance of meatballs' if tempvar == 'Cloudy'
            tempvar
          %></td>
        </tr>
        <tr>
          <th>Observation Time</th>
          <td><%= @data["data"]["current_condition"][0]["observation_time"] %></td>
        </tr>
        <tr>
          <th>Temperature (C)</th>
          <td><%= @data["data"]["current_condition"][0]["temp_C"] %>°C</td>
        </tr>
        <tr>
          <th>Temperature (F)</th>
          <td><%= @data["data"]["current_condition"][0]["temp_F"] %> °F</td>
        </tr>
        <tr>
          <th>Weather Code</th>
          <td><%= @data["data"]["current_condition"][0]["weatherCode"] %></td>
        </tr>
        <tr>
          <th>Windspeed (Mph)</th>
          <td><%= @data["data"]["current_condition"][0]["windspeedMiles"] %></td>
        </tr>
        <tr>
          <th>Windspeed (Kph)</th>
          <td><%= @data["data"]["current_condition"][0]["windspeedKmph"] %></td>
        </tr>
        <tr>
          <th>Direction (Deg)</th>
          <td><%= @data["data"]["current_condition"][0]["winddirDegree"] %></td>
        </tr>
        <tr>
          <th>Direction (16 Pt)</th>
          <td><%= @data["data"]["current_condition"][0]["winddir16Point"] %></td>
        </tr>
        <tr>
          <th>Precip MM</th>
          <td><%= @data["data"]["current_condition"][0]["precipMM"] %></td>
        </tr>
        <tr>
          <th>Humidity</th>
          <td><%= @data["data"]["current_condition"][0]["humidity"] %> </td>
        </tr>
        <tr>
          <th>Visibility</th>
          <td><%= @data["data"]["current_condition"][0]["visibility"] %></td>
        </tr>
        <tr>
          <th>Pressure</th>
          <td><%= @data["data"]["current_condition"][0]["pressure"] %></td>
        </tr>
        <tr>
          <th>Cloud Cover</th>
          <td><%= @data["data"]["current_condition"][0]["cloudcover"] %></td>
        </tr>
       
      </tbody>
      </table>

    </div>
  </div>

</br>
</br>
  
  <div style="height:400px;"></div>
  
  <%# FORECAST %>
  <% @data["data"]["weather"].each do |i| %>

    <div class="forecast" style="float:left; height:auto; width:19.5%; ; text-align: center;">
      <h2><%= i["date"]%></h2>
    
      <table class="table" >
            
            <tbody>
              <tr>
                <%= image_tag i["weatherIconUrl"][0]["value"] %>
              </tr>
              <tr> 
                <th>Description</th>
                <td><%= i["weatherDesc"][0]["value"]%></td>
              </tr>
              <tr>
                <th>Max Temperature (C)</th>
                <td><%= i["tempMaxC"]%>°C</td>
              </tr>
              <tr>
                <th>Min Temperature (C)</th>
                <td><%= i["tempMinC"]%>°C</td>
              </tr>
              <tr>
                <th>Max Temperature (F)</th>
                <td><%= i["tempMaxF"]%>°F</td>
              </tr>
              <tr>
                <th>Min Temperature (F)</th>
                <td><%= i["tempMinF"]%>°F</td>
              </tr>
              <tr>
                <th>Windspeed (Mph)</th>
                <td><%= i["windspeedMiles"]%></td>
              </tr>
              <tr>
                <th>Windspeed (Kph)</th>
                <td><%= i["windspeedKmph"]%></td>
              </tr>
              <tr>
                <th>Direction</th>
                <td><%= i["winddirection"]%></td>
              </tr>
              <tr>
                <th>Direction (16 Pt)</th>
                <td><%= i["winddir16Point"]%></td>
              </tr>
              <tr>
                <th>Direction (Deg)</th>
                <td><%= i["winddirDegree"]%></td>
              </tr>
              <tr>
                <th>Precipication (MM)</th>
                <td><%= i["precipMM"]%></td>
              </tr>
              
            </tbody>
      </table>

   </div>

   <% end %>
  
<%# ERROR MESSAGE %>
<% else %>
  <p class = "errormsg">An error occurred. Please check your input and try again, or contact the website administrator.</p>
<% end %>